@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<partial name="_Banner" />

<div class="container index-container">
    <p>
        Please check your email to reset your password.
    </p>
</div>
