@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<partial name="_Banner" />

<div class="container index-container">
    <p>
        Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
    </p>
</div>