
@{
    ViewData["Title"] = "Checkout Complete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_Banner" />

<div class="container index-container">
    <h1 style="color: #828bb3;">@ViewBag.CheckoutCompleteMessage</h1>

    <h2 style="color: #828bb3;">Order Completed</h2>
</div>