@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	var pageTitle = (string)ViewData["pageTitle"];
}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>@pageTitle</h1>
                <nav class="d-flex align-items-center">
                    @*<ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Library</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Data</li>
                    </ol>*@
                    <a href="/">Home <span class="lnr lnr-arrow-right"></span></a>
        <span style="color: #fff;">@ViewData["Title"]</span>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->